* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	background: #D7D6D6;
	font-family: Belleza;
}

.header {
	width: 100%;
	background: #CBC4CF;
	position: sticky;
	inset: auto 0 0;
	z-index: 10;
	margin-bottom: 6.4rem;
	padding: 1rem;
}
.header ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
.header li {
	padding-inline: 1rem;
}
.header a {
	color: #36413E;
	text-decoration: none;
}

/*.conteneur-pfp {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.conteneur-pfp img {
	width: 100%;
	height: auto;
	object-fit: cover;
}*/

.footer {
	width: 100%;
	position: absolute;
	inset: auto 0 0; /*= inset: auto(top) (0 0)=right & left 0(bottom);*/
	padding: 2rem;
	background: #CBC4CF;
	text-align: center;
}
.footer p {
	color: #36413E; 
}